<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net462" />
  <package id="PostSharp" version="5.0.49" targetFramework="net471" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="5.0.49" targetFramework="net471" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="5.0.49" targetFramework="net471" />
  <package id="PostSharp.Patterns.Common" version="5.0.49" targetFramework="net471" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.49" targetFramework="net471" />
  <package id="PostSharp.Patterns.Model" version="5.0.49" targetFramework="net471" developmentDependency="true" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.49" targetFramework="net471" />
  <package id="PostSharp.Redist" version="5.0.49" targetFramework="net471" />
</packages>